

/* Tabs */
.tabs {
  display: flex;
  gap: 0.5rem;
}

.tab {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 0.9rem;
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: all 0.15s ease;
}

.tab:hover {
  background-color: var(--sketch-bg);
}

.tabActive {
  background-color: var(--sketch-bg);
  color: #fff;
}

.tabActive:hover {
  background-color: var(--sketch-bg);
}

/* Small image inside tabs */
.tabImage {
  width: 50px;
  height: 50px;
  object-fit: contain;
  pointer-events: none;
}
