/* Tetadic Colour Pallete, text will mostly remain the same other than the occasional titles having these colours
- Buttons will take secondary, on hover will be primary
- Cards and Sections will take either tertiary or quaternary.


*/

:root {
  --primary-color: #B64963;
  --secondary-color: #99B649;
  --tertiary-color: #49B69C;
  --quaternary-color: #6649B6;
  --background-color: #f6f6f6;
  --text-color: #0f0f0f;
}