
.Section {
  max-width: 700px;
  margin-top: 2rem;
  padding: 1.5rem;
  border-radius: 12px;

}


.fadeIn {
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
