/* App-specific scoped styles */

.appLayout {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left: 200px;
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  transition: margin-left 0.25s ease;
}

.contentCollapsed {
  margin-left: 60px;
}

.hasPlayerBar {
  padding-bottom: 100px; /* Space for fixed PlayerBar (80px + buffer) */
}

.row {
  display: flex;
  justify-content: center;
}
